@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
<div>
    @foreach (var p in Model.Products)
    {
        <div class="item">
            <h3>@p.Name</h3>
            @p.Description
            <h4>@p.Price.ToString("c")</h4>
        </div>
    }
    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List", new {page = x}))
    </div>
</div>
</body>
</html>
