@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Products";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        @foreach (var p in Model.Products)
        {
            Html.RenderPartial("ProductsSummary",p);
        }
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
        </div>
    </div>
</body>
</html>
